@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face{
  font-family: 'Samarkan';
  src: url('fonts/SAMAN.TTF') format('truetype');
}
header{
  width: 1200px;
  max-width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 50px;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 100;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  touch-action: manipulation;
}
header .logo{
  font-weight: bold;
  margin-top: 20px;
}
header .menu{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  font-weight: 500;
  text-decoration: none;
}
.hamburger {
  display: none;
  font-size: 30px;
  cursor: pointer;

}
.mobile-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: white;
  backdrop-filter: blur(10px);
  color: white;
  animation: slideDown 0.3s ease;
  border: none;
  border-radius: 30px;
  z-index: 800;
}
.mobile-menu ul {
  list-style: none;
  padding: 10px;
  margin: 0;
}

.mobile-menu li {
  padding: 10px 0;
  text-align: center;
}
@media (max-width: 768px) {
  header .menu {
      display: none; /* Hide menu on small screens */
  }

  .hamburger {
      display: block; /* Show hamburger */
      display: flex;
      justify-content: flex-end;
  }

  .mobile-menu.show {
      display: block;
      background: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(10px);
      color: white;
      animation: slideDown 0.3s ease;
      border: none;
      border-radius: 30px;
      z-index: 800;
  }
}
@keyframes slideDown {
  from { transform: translateY(-100%); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}
.slider{
  height: 100vh;
  margin-top: -50px;
  position: relative;
}
.slider .list .item{
  position: absolute;
  inset: 0 0 0 0;
  overflow: hidden;
  opacity: 0;
  transition: .5s;
}
.slider .list .item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider .list .item::after{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(
      to top, #000000e9 35%, transparent
  );
}
.slider .list .item .content{
  position: absolute;
  left: 10%;
  top: 20%;
  width: 500px;
  max-width: 80%;
  z-index: 1;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  touch-action: manipulation;
}
.slider .list .item .content .p{
  font-family: 'Samarkan';
  color: white;
}
@media screen and (max-width: 600px) {
  .slider .list .item .content{
      top: 40%;
  }
}
.slider .list .item .content p:nth-child(1){
  text-transform: uppercase;
  letter-spacing: 10px;
}
.slider .list .item .content h2{
  font-size: 100px;
  margin: 0;
  font-family: Poppins;
  color: white;
  font-weight: bolder;
}
.slider .list .item .content .cust{
  font-size: 50px;
  margin: 0;
}
.slider .list .item.active{
  opacity: 1;
  z-index: 10;
}
@keyframes showContent {
  to{
      transform: translateY(0);
      filter: blur(0);
      opacity: 1;
  }
}
.slider .list .item.active p:nth-child(1),
.slider .list .item.active h2,
.slider .list .item.active p:nth-child(3){
  transform: translateY(30px);
  filter: blur(20px);
  opacity: 0;
  animation: showContent .5s .7s ease-in-out 1 forwards;
}
.slider .list .item.active h2{
  animation-delay: 1s;
}
.slider .list .item.active p:nth-child(3){
  animation-duration: 1.3s;
}
.arrows{
  position: absolute;
  top: 30%;
  right: 50px;
  z-index: 50;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  touch-action: manipulation;
}
.changear{
  background-color: #eee5;
  border: none;
  font-family: monospace;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  font-size: x-large;
  color: #eee;
  transition: .5s;
  cursor: pointer;
}
.changear:hover{
  background-color: #eee;
  color: black;
}
.thumbnail * {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  touch-action: manipulation;
}
.thumbnail{
  position: absolute;
  bottom: 50px;
  z-index: 11;
  display: flex;
  gap: 10px;
  width: 100%;
  height: 250px;
  padding: 0 50px;
  box-sizing: border-box;
  overflow: auto;
  justify-content: center;
  cursor: pointer;
}
.thumbnail::-webkit-scrollbar{
  width: 0;
}
.thumbnail .item{
  width: 150px;
  height: 220px;
  filter: brightness(.5);
  transition: .5s;
  flex-shrink: 0;
}
.thumbnail .item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.thumbnail .item.active{
  filter: brightness(1);
}
.thumbnail .item .content{
  position: absolute;
  inset: auto 10px 10px 10px;
  color: white;
}
@media screen and (max-width: 678px) {
  .thumbnail{
      height: 150px;
      display: flex;
      justify-content: center;
  }
  .thumbnail .item{
      height: 100px;
      width: 65px;
  }
  .thumbnail .item .content{
      font-size: 10px;
  }
  .slider .list .item .content{
    position: absolute;
    top: 380px;
}
  .slider .list .item .content h2{
      font-size: 40px;
  }
  .slider .list .item .content .cust{
      font-size: 30px;
  }
  .slider .list .item .content .pr{
      font-size: 12px;
      color: white;
  }
  .arrows{
      top: 10%;
  }
  .slider .list .item .sci{
      width: 100%;
      height: 100%;
      object-fit: cover;
  }
}

html{
    scroll-behavior: smooth;
}

/* Loader css  */
/* From Uiverse.io by G4b413l */ 
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
  }
  body.loaded #loader-wrapper {
    display: none;
  }
  #loader-wrapper {
    opacity: 1;
    transition: opacity 0.5s ease;
  }
  
  body.loaded #loader-wrapper {
    opacity: 0;
    pointer-events: none;
  }

/* main div animation for loader  */

/* From Uiverse.io by Ratinax */ 
.loader {
    --dim: 3rem;
    width: var(--dim);
    height: var(--dim);
    position: relative;
    animation: spin988 2s linear infinite;
  }
  
  .loader .circle {
    --color: #333;
    --dim: 1.2rem;
    width: var(--dim);
    height: var(--dim);
    background-color: var(--color);
    position: absolute;
  }
  
  .loader .circle:nth-child(1) {
    top: 0;
    left: 0;
  }
  
  .loader .circle:nth-child(2) {
    top: 0;
    right: 0;
  }
  
  .loader .circle:nth-child(3) {
    bottom: 0;
    left: 0;
  }
  
  .loader .circle:nth-child(4) {
    bottom: 0;
    right: 0;
  }
  
  @keyframes spin988 {
    0% {
      transform: scale(1) rotate(0);
    }
  
    20%,
    25% {
      transform: scale(1.3) rotate(90deg);
    }
  
    45%,
    50% {
      transform: scale(1) rotate(180deg);
    }
  
    70%,
    75% {
      transform: scale(1.3) rotate(270deg);
    }
  
    95%,
    100% {
      transform: scale(1) rotate(360deg);
    }
  }
   
   
@font-face {
    font-family: 'MyCustomFont';
    src: url('fonts/Calgary_DEMO.ttf') format('truetype');
  }


@keyframes appear{
    from{
        opacity: 0;
        scale: 0.5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}
@keyframes fade{
    from{
        opacity: 0.1;
    }
    to{
        opacity: 1;
    }
}
@keyframes app_left{
    from{
        opacity: 0;
        transform: translateX(-100px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes app_right{
    from{
        opacity: 0;
        transform: translateX(+100px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
.animf{
    animation: fade linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}
.animr{
    animation: app_right linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}
.animl{
    animation: app_left linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}
.anim{
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}

.heading_font{
    font-family: 'MyCustomFont', sans-serif;
    font-size: 70px;
}
.special_font{
    font-family: 'MyCustomFont', sans-serif;
    font-size: 60px;
}
.heading_pack{
    font-family: 'MyCustomFont', sans-serif;
}

.card {
    width: 280px;
    height: 380px;
    border-radius: 30px;
    background: #e0e0e0;
    box-shadow: 15px 15px 30px #bebebe,
               -15px -15px 30px #ffffff;
    border: none;
  }

  /* From Uiverse.io by guilhermeyohan */ 
.subscribe {
  position: relative;
  height: 300px;
  width: 280px;
  padding: 20px;
  background-color: #e8e8e8;
  border-radius: 4px;
  color: #333;
  box-shadow: 0px 0px 60px 5px rgba(0, 0, 0, 0.2);
}

.subscribe:after {
  position: absolute;
  content: "";
  right: -10px;
  bottom: 18px;
  width: 0;
  height: 0;
  border-left: 0px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #514947;
}

.subscribe p {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 4px;
  line-height: 28px;
}

.subscribe input {
  /* position: absolute; */
  bottom: 30px;
  border: none;
  border-bottom: 1px solid #d4d4d4;
  padding: 10px;
  width: 82%;
  background: transparent;
  transition: all .25s ease;
}

.subscribe input:focus {
  outline: none;
  border-bottom: 1px solid #0d095e;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', 'sans-serif';
}

.subscribe .submit-btn {
  position: absolute;
  border-radius: 30px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  background-color: #b78f5b;
  color: #FFF;
  padding: 12px 25px;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 5px;
  right: -10px;
  bottom: -20px;
  cursor: pointer;
  transition: all .25s ease;
  box-shadow: -5px 6px 20px 0px rgba(26, 26, 26, 0.4);
  z-index: 50;
}

.subscribe .submit-btn:hover {
  background-color: #514947;
  box-shadow: -5px 6px 20px 0px rgba(88, 88, 88, 0.569);
}

/* From Uiverse.io by e-coders */ 
button {
  position: relative;
  overflow: hidden;
  border: none;
  color: #ffffff;
  display: inline-block;
  font-size: 15px;
  line-height: 15px;
  padding: 10px 10px 9px;
  text-decoration: none;
  cursor: pointer;
  background: #bb0000;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
 }
 
 button span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
 }
 
 button span:last-child {
  color: white;
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 14px;
  line-height: 13px;
 }
 
 button:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
 }
 
 button:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
 }
 
 button:hover span:last-child {
  transform: translateX(-50%) translateY(-50%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
  color: #18181a;
 }
 /* From Uiverse.io by vamsidevendrakumar */ 
.cardy {
  width: 450px;
  height: 300px;
  perspective: 1000px;
}

.cardy-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.999s;
}

.cardy:hover .cardy-inner {
  transform: rotateY(180deg);
}

.cardy-front,
.cardy-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.cardy-front {
  /* background-color: #6A2C70; */
  /* color: #fff; */
  display: flex;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
  font-size: 24px;
  transform: rotateY(0deg);
}

.cardy-back {
  background-color: #eeeeee;
  color: #fff;
  display: flex;
  align-items: center;
  border: 10px solid #eeeeee;
  border-radius: 10px;
  justify-content: center;
  font-size: 24px;
  transform: rotateY(180deg);
}
/* From Uiverse.io by abrahamcalsin */ 

.user-picture {
  overflow: hidden;
  object-fit: cover;
  width: 8rem;
  height: 8rem;
  /* border: 4px solid #514947b9; */
  border: 4px solid #ffffff;
  border-radius: 999px;
  position: relative;
  bottom: 10px;
  left: 75px;
}


.name-client {
  margin: 0;
  margin-top: 20px;
  font-weight: 600;
  font-size: 18px;
}

.name-client span {
  display: block;
  font-weight: 200;
  font-size: 16px;
}
.cl{
  color: #514947;
}
.anc{
  text-decoration: none;
  color: white;
}
.over{
  background-color: white;
  border-radius: 999px;
  width: 25px;
  height: 25px;
  position: absolute;
  left: 170px;
  top:  120px;
  z-index: 500;
}



