html{
    scroll-behavior: smooth;
}

/* Loader css  */
/* From Uiverse.io by G4b413l */ 
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
  }
  body.loaded #loader-wrapper {
    display: none;
  }
  #loader-wrapper {
    opacity: 1;
    transition: opacity 0.5s ease;
  }
  
  body.loaded #loader-wrapper {
    opacity: 0;
    pointer-events: none;
  }

/* main div animation for loader  */

/* From Uiverse.io by Ratinax */ 
.loader {
    --dim: 3rem;
    width: var(--dim);
    height: var(--dim);
    position: relative;
    animation: spin988 2s linear infinite;
  }
  
  .loader .circle {
    --color: #333;
    --dim: 1.2rem;
    width: var(--dim);
    height: var(--dim);
    background-color: var(--color);
    position: absolute;
  }
  
  .loader .circle:nth-child(1) {
    top: 0;
    left: 0;
  }
  
  .loader .circle:nth-child(2) {
    top: 0;
    right: 0;
  }
  
  .loader .circle:nth-child(3) {
    bottom: 0;
    left: 0;
  }
  
  .loader .circle:nth-child(4) {
    bottom: 0;
    right: 0;
  }
  
  @keyframes spin988 {
    0% {
      transform: scale(1) rotate(0);
    }
  
    20%,
    25% {
      transform: scale(1.3) rotate(90deg);
    }
  
    45%,
    50% {
      transform: scale(1) rotate(180deg);
    }
  
    70%,
    75% {
      transform: scale(1.3) rotate(270deg);
    }
  
    95%,
    100% {
      transform: scale(1) rotate(360deg);
    }
  }
   
   
@font-face {
    font-family: 'MyCustomFont';
    src: url('Calgary_DEMO.ttf') format('truetype');
         /* url('Moglan_DEMO.ttf') format('ttf'); */

  }

@keyframes appear{
    from{
        opacity: 0;
        scale: 0.5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}
@keyframes fade{
    from{
        opacity: 0.1;
    }
    to{
        opacity: 1;
    }
}
@keyframes app_left{
    from{
        opacity: 0;
        transform: translateX(-100px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes app_right{
    from{
        opacity: 0;
        transform: translateX(+100px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
.animf{
    animation: fade linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}
.animr{
    animation: app_right linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}
.animl{
    animation: app_left linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}
.anim{
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}

.heading_font{
    font-family: 'MyCustomFont', sans-serif;
    font-size: 70px;
}
.special_font{
    font-family: 'MyCustomFont', sans-serif;
    font-size: 60px;
}
.heading_pack{
    font-family: 'MyCustomFont', sans-serif;
}

.card {
    width: 280px;
    height: 380px;
    border-radius: 30px;
    background: #e0e0e0;
    box-shadow: 15px 15px 30px #bebebe,
               -15px -15px 30px #ffffff;
    border: none;
  }

  /* From Uiverse.io by guilhermeyohan */ 
.subscribe {
  position: relative;
  height: 300px;
  width: 280px;
  padding: 20px;
  background-color: #e8e8e8;
  border-radius: 4px;
  color: #333;
  box-shadow: 0px 0px 60px 5px rgba(0, 0, 0, 0.2);
}

.subscribe:after {
  position: absolute;
  content: "";
  right: -10px;
  bottom: 18px;
  width: 0;
  height: 0;
  border-left: 0px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #514947;
}

.subscribe p {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 4px;
  line-height: 28px;
}

.subscribe input {
  /* position: absolute; */
  bottom: 30px;
  border: none;
  border-bottom: 1px solid #d4d4d4;
  padding: 10px;
  width: 82%;
  background: transparent;
  transition: all .25s ease;
}

.subscribe input:focus {
  outline: none;
  border-bottom: 1px solid #0d095e;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', 'sans-serif';
}

.subscribe .submit-btn {
  position: absolute;
  border-radius: 30px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  background-color: #b78f5b;
  color: #FFF;
  padding: 12px 25px;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 5px;
  right: -10px;
  bottom: -20px;
  cursor: pointer;
  transition: all .25s ease;
  box-shadow: -5px 6px 20px 0px rgba(26, 26, 26, 0.4);
  z-index: 50;
}

.subscribe .submit-btn:hover {
  background-color: #514947;
  box-shadow: -5px 6px 20px 0px rgba(88, 88, 88, 0.569);
}

/* From Uiverse.io by e-coders */ 
button {
  position: relative;
  overflow: hidden;
  border: none;
  color: #ffffff;
  display: inline-block;
  font-size: 15px;
  line-height: 15px;
  padding: 10px 10px 9px;
  text-decoration: none;
  cursor: pointer;
  background: #bb0000;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
 }
 
 button span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
 }
 
 button span:last-child {
  color: white;
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 14px;
  line-height: 13px;
 }
 
 button:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
 }
 
 button:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
 }
 
 button:hover span:last-child {
  transform: translateX(-50%) translateY(-50%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
  color: #18181a;
 }

